[submodule "userspace/ksud/third_party/MagiskbootAlone"]
	path = userspace/ksud/third_party/MagiskbootAlone
	url = https://github.com/wuluoy-creator/MagiskbootAlone.git
[submodule "userspace/ksud/third_party/bootctlAlone"]
	path = userspace/ksud/third_party/bootctlAlone
	url = https://github.com/wuluoy-creator/bootctlAlone.git
[submodule "userspace/ksud/third_party/resetpropAlone"]
	path = userspace/ksud/third_party/resetpropAlone
	url = https://github.com/wuluoy-creator/resetpropAlone.git
[submodule "userspace/ksud/third_party/ndk-busybox"]
	path = userspace/ksud/third_party/ndk-busybox
	url = https://github.com/Anatdx/ndk-busybox.git
[submodule "userspace/ksud/third_party/mkbootfsAlone"]
	path = userspace/ksud/third_party/mkbootfsAlone
	url = https://github.com/Anatdx/mkbootfsAlone.git
[submodule "userspace/ksud/third_party/readelf_toyboxAlone"]
	path = userspace/ksud/third_party/readelf_toyboxAlone
	url = https://github.com/wuluoy-creator/readelf_toyboxAlone.git
